<html>
  <head>
    <title>Namještaj - Narudžba namještaja</title>
    <%- include ('../../Djelimicno/_header'); -%>
  </head>
  <%- include ('../../Djelimicno/_navbar'); -%>

  <section class="page-section text-black mb-0" id="odabir-namjestaja">
    <div class="container">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        Odabir namještaja
      </h1>
      <div class="d-flex mt-2">
        <div>
          <a href="/namjestaj">
            <button class="btn btn-info mx-2">Sve</button>
          </a>
        </div>
        <div>
          <a href="/namjestaj/stolovi"
            ><button class="btn btn-info mx-2">Stolovi</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/stolice"
            ><button class="btn btn-info mx-2">Stolice</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/ormari"
            ><button class="btn btn-info mx-2">Ormari</button></a
          >
        </div>
      </div>

      <hr class="mt-2 mb-5" />

      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.prima-namjestaj.hr/media/catalog/product/cache/504e18e4ac3526a1579120a8197df3fb/l/u/luka_basic_klizni_ogledalo_200x140_bijelo_1.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 60.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://s3.eu-central-1.amazonaws.com/cnj-img/images/8D/8D55w8a4gko4"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 65.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://media.xxxlutz.com/i/xxxlutz/NCD8B4UyNMwZz4Bcdmpjxpvw/980x500-unit-ormari-2019-09-1.jpg?w=980&qlt=85&upscale=padd"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 73.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://media.xxxlutz.com/i/xxxlutz/NCEQtHJnkc4IFaPemeSrd6Yg/980x500-unit-ormari-kutni-2019-12-1.jpg?w=980&qlt=70&upscale=padd"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 80.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.namjestaj-mibel.com/GARDEROBNI-ORMARI/siroka-1-mala.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 66.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRq1b4uWmg4Pe9XyPYMqlrBsYqCcjE-B2Pp3T-FzkwmYzueL60p&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 78.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://image.dnevnik.hr/media/images/217x217/Jan2020/61816993.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 79.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.furnitura.hr/media/catalog/product/cache/2/small_image/500x324/9df78eab33525d08d6e5fb8d27136e95/o/m/omara-z-drsnimi-vrati-in-ogledalom-alfa-svetla-sonoma-hrast_1.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 62.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://cdn.emmezeta.hr/media/catalog/product/cache/71a0a3c4bed4bde6e0639628e13ab2b6/6/0/606058-play-kutni-ormar_1.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 77.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.happy-kids.hr/wp-content/uploads/2019/10/dje%C4%8Dji-trokrilni-ormar-happy.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 74.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://mojaakcija.hr/wp-content/uploads/2018/08/ormar-s-kliznim-vratima-2.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 81.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.prima-namjestaj.hr/media/catalog/product/cache/504e18e4ac3526a1579120a8197df3fb/l/u/luka_standard_klizni_ormar_180_ogledalo_1.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 81.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</html>
