<html>
  <head>
    <title>Namještaj - Narudžba namještaja</title>
    <%- include ('../../Djelimicno/_header'); -%>
  </head>
  <%- include ('../../Djelimicno/_navbar'); -%>

  <section class="page-section text-black mb-0" id="odabir-namjestaja">
    <div class="container">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        Odabir namještaja
      </h1>
      <div class="d-flex mt-2">
        <div>
          <a href="/namjestaj">
            <button class="btn btn-info mx-2">Sve</button>
          </a>
        </div>
        <div>
          <a href="/namjestaj/stolovi"
            ><button class="btn btn-info mx-2">Stolovi</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/stolice"
            ><button class="btn btn-info mx-2">Stolice</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/ormari"
            ><button class="btn btn-info mx-2">Ormari</button></a
          >
        </div>
      </div>

      <hr class="mt-2 mb-5" />

      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://arboline.hr/wp-content/uploads/2020/02/fabio_scena_700x500_v2.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 30.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.dizajndoma.hr/chest/gallery/atraktivni-blagovaonski-stolovi/interijer-namjestaj-blagovaonski-stolovi%20(13).jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 39.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.prima-namjestaj.hr/media/catalog/product/cache/67ef4fd5684def2edab9dbbaecb01101/n/g/ngp068025_pc-stol-cross-r-138-178x90-sonoma-hrast.bmp_1_1.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 32.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://bazzar.hr/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBNVBDUHc9PSIsImV4cCI6bnVsbCwicHVyIjoiYmxvYl9pZCJ9fQ==--35059f0d1754cb14b90d004e66b1c1c235ef5d63/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VWTI5dFltbHVaVjl2Y0hScGIyNXpldzQ2RUdKdmNtUmxjbU52Ykc5eVNTSUtkMmhwZEdVR09nWkZWRG9MWW05eVpHVnlhUVk2Q1daMWVucEpJZ2N4SlFZN0IxUTZDWFJ5YVcxVU9ncHpkSEpwY0ZRNkRuUm9kVzFpYm1GcGJFa2lERFV3TUhnMU1EQUdPd2RVT2d4bmNtRjJhWFI1U1NJTFkyVnVkR1Z5QmpzSFZEb1BZbUZqYTJkeWIzVnVaRWtpQ25kb2FYUmxCanNIVkRvTFpYaDBaVzUwU1NJTU5UQXdlRFV3TUFZN0IxUT0iLCJleHAiOm51bGwsInB1ciI6InZhcmlhdGlvbiJ9fQ==--15915d85170142a1d56fdd6a69310acbd4be84ec/blagovaonski-stol-na-razvlacenje-visoki-sjaj-bijeli.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 38.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRHJEL9PUflg5UlnCrdwR4iVfxSvZnTuXmo38Miqi20t0qoPKUg&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 44.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSf-loFqfv3MaWQrBBACUeCqp1oiD7ME7fxXdUA7YQdKvZbN_Xx&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 42.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.dalasnamestaj.com/wp-content/uploads/2019/11/products-scott_living-color-hutchinson-49733109_107851-b1-340x180.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 35.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQKlMx2mfeEc0dSrB0l5DdLi80GCeUMejQK8tBuylvNtTT8mtxF&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 40.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTugLaTLvRfx2G8RzrvNMjCZAaBmLOJZeoy5DTmfTIVytRG-AE8&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 34.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://stolovi.ba/wp-content/uploads/2018/04/mooki-stolovi-20.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 50.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT8a24pp_2CwrAYAcNbRmGHUB8l0F0vFucSa5xTM2yQiXVBjKap&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 42.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.njuskalo.hr/image-w920x690/stolovi-stolice/stol-blagovaonu-ili-terasu-slika-112081706.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 33.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</html>
