<html>
  <head>
    <title>Namještaj - Narudžba namještaja</title>
    <%- include ('../../Djelimicno/_header'); -%>
  </head>
  <%- include ('../../Djelimicno/_navbar'); -%>

  <section class="page-section text-black mb-0" id="odabir-namjestaja">
    <div class="container">
      <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
        Odabir namještaja
      </h1>
      <div class="d-flex mt-2">
        <div>
          <a href="/namjestaj">
            <button class="btn btn-info mx-2">Sve</button>
          </a>
        </div>
        <div>
          <a href="/namjestaj/stolovi"
            ><button class="btn btn-info mx-2">Stolovi</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/stolice"
            ><button class="btn btn-info mx-2">Stolice</button></a
          >
        </div>
        <div>
          <a href="/namjestaj/ormari"
            ><button class="btn btn-info mx-2">Ormari</button></a
          >
        </div>
      </div>

      <hr class="mt-2 mb-5" />

      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.hgshop.hr/articleImages/78032-878.jpg?preset=product"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 12.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.prima-namjestaj.hr/media/catalog/product/cache/67ef4fd5684def2edab9dbbaecb01101/n/t/ntr27265_pss-stolica-ivone-ii-sonoma-_t.-focus-9093-cappucino_2.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 15.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.bauhaus.hr/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/6/8/68138149.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 11.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.bauhaus.hr/media/catalog/product/cache/1/image/800x/9df78eab33525d08d6e5fb8d27136e95/2/6/26546254.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 18.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://source.unsplash.com/400x300/?chair,minimal,furniture/5"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 20.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.eurodom.hr/sites/6/upload/products/thumb_1435146573_apolonbez.png"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 11.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://s3.eu-central-1.amazonaws.com/cnj-img/images/Ur/Uri5TIyyHVnT"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 19.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRCyou7fMdVJqthhRUVcfK4RUoT3d0mYukbHRwNwnoABzS7wBPZ&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 10.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://mojaakcija.hr/wp-content/uploads/2018/08/stolica-dima.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 14.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.ro-collection.hr/site/assets/files/2459/01_azzurro.860x580.jpg"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 15.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTQUCW7FW550ft37bwQ1wtf_XUm_JPDr4wJr1tw2RTPhEWm2yrx&usqp=CAU"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 17.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="/narudzba" class="d-block mb-4 h-100">
            <img
              class="img-fluid img-thumbnail"
              src="https://www.index.hr/oglasi/UserDocsImages/oglas/_2017/1/9/398017/Screenshot2016-12-18-10-49-28-1-090120172248418959.jpg?preset=oglas-slike-view-detaljnoGalOpen2"
              alt=""
            />
            <div class="d-flex justify-content-between">
              <p class="mb-0">Cijena: 21.99KN</p>
              <button class="btn btn-primary">Kupi</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</html>
